html, body {
  margin:0;
  padding:0;
  width:100%;
}

body {
  font-family: 'Kanit', sans-serif;
}

header {
  box-sizing: border-box;
  margin:0;
  padding:0.5em;
  width:100%;
  height:100px;
  display:flex;
  flex-direction:row;
  align-items: center;
  background-color:#0ba3f1;
}

header > img {
  height:65%;
  margin-left: 2em;
}

.header-centered {
  margin-left:2em;
  display:flex;
  flex-direction: row;
  align-items: center;
  color:white;
  font-size:0.7rem;
}

main {
  margin-top:2em;
  width:100%;
  height:90vh;
  min-height:500px;
  display:flex;
  flex-direction: column;
}

main > h1 {
  width:100%;
  text-align:center;
}

.main-centered {
  display:flex;
}

section {
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 5rem;
}

#peach-holder {
  position:relative;
  width:50%;
}

#peach {
  position:absolute;
  bottom: 0;
  width:100%;
}

#progress-bar {
  position:absolute;
  bottom:0;
  width:100%;
  height:0px;
  background-color: #ff975c;
}
