:root {
  --light-blue: #0ba3f1;
  --dark-blue: #075cc3;
  --red: #e83a3a;
}

html, body {
  margin:0;
  padding:0;
  width:100%;
}

body {
  font-family: 'Kanit', sans-serif;
  color:white;
}

.background {
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  z-index:-1;
  background: url('../images/black_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  box-sizing: border-box;
  margin:0;
  padding:0.5em;
  width:100%;
  height:100px;
  display:flex;
  flex-direction:row;
  align-items: center;
}

header > img {
  height:65%;
  margin-left: 2em;
}

.header-centered {
  margin-left:2em;
  display:flex;
  flex-direction: row;
  align-items: center;
  color:white;
  font-size:0.7rem;
}

main {
  /* margin-top:-2em; */
  width:100%;
  min-height:max-content;
  display:flex;
  flex-direction: column;
}

main h1 {
  width:100%;
  text-align:center;
}

.main-centered {
  display:flex;
}

section {
  width:50%;
  margin:0 2em;
  margin-bottom:2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 3rem;
  padding: 0 0.2em;
  margin:-0.3em auto;
  /* background: var(--red); */
  color:white;
}

.time-slot {
  background: black;
  border-radius: 5px;
  color:white;
  padding:0 10px;
}

.time-spec {
  font-size: 2rem;
}

#amount {
  margin-bottom:-0.4em;
}

#peach-holder {
  margin:0 auto;
  margin-top:2em;
  position:relative;
  width:50%;
  color:black;
  background-color:white;
  border-radius:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: #187bd4; */
  /* border: 2px solid white;
  border-radius: 5px; */
}

#peach-prog-centered {
  position:relative;
  width:60%;
  height:60%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#peach-background {
  position:absolute;
  bottom:20px;
  width:100%;
  background-color:white;
}

#peach {
  position:absolute;
  display:block;
  bottom: 20px;
  width:100%;
}

#progress-bar {
  position:absolute;
  bottom:20px;
  width:100%;
  height:0px;
  background-color: #ff9047;
}
